<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="comp3350.highschoolhub">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HighschoolHub">
        <activity
            android:name=".presentation.MyProfile"
            android:exported="false" />
        <activity
            android:name=".presentation.Connections"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HighschoolHub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.Socials" />
        <activity android:name=".presentation.SocialsAddLink" />
        <activity
            android:name=".presentation.ConnectionsUserOptions"
            android:label="ConnectionUserOptions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.highschoolhub.presentation.ConnectionsUserOptions" />
        </activity>
        <activity android:name=".presentation.HighSchoolList" />
        <activity android:name=".presentation.HighSchoolExplore" />
        <activity android:name=".presentation.PrivacyInfo" />
        <activity android:name=".presentation.ViewConnectedUserProfile" />
    </application>

</manifest>